/* №1 */
.N1 {
    width: 300px;
    height: 200px;
    border-color: blue;
    border-style: solid;
    border-width: 3px;
}
.N2 {
    width: 300px;
    height: 200px;
    border-color: red;
    border-style: dotted;
    border-width: 3px;
}

.N3 {
    width: 300px;
    height: 200px;
    border-color: orange;
    border-style: dashed;
    border-width: 2px;
}

.N4 {
    width: 300px;
    height: 200px;
    border-color: blue;
    border-style: double;
    border-width: 6px;
}