html, body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
.wrapper {
	margin: 20px auto;
	width: 1200px;
	border: 1px solid black;
}
.header {
	height: 300px;
	border: 1px solid black;
	padding: 20px;
}
.footer {
	height: 300px;
	border: 1px solid black;
	padding: 20px;
}
.container {
	display: flex;
	border: 1px solid black;
}
.content {
	width: 860px;
	height: 700px;
	border: 1px solid black;
	padding: 20px;
}
.sidebar {
	width: 300px;

	border: 1px solid black;
	padding: 20px;
}
.left {
	margin-right: 40px;
}
.right {
	margin-left: 40px;
}