/* №1 */
.N1 {
    width: 200px;
    height: 200px;
    background-color: orange;
}
.N2 {
    width: 300px;
    height: 200px;
    color: white;
    background-color: aquamarine;
    text-align: center;
    font-size: 25px;
}