/* N1 */
.eee i {
    color: red;
}
/* N2 */
.eee .bbb {
	color: palevioletred;
}
/* код выбирает все элементы класса bbb, являющиеся потомками класса eee */

/* N3 */
.eee h2 {
	color: blue;
}
/* код выбирает все теги h2, являющиеся потомками класса eee */

/* N4 */
.eee h2.bbb {
	color: darkblue;
}
/* код выбирает все теги h2 класса bbb, являющиеся потомками класса eee */

/* N5 */
.eee h3.bbb {
	color: red;
}
/* код выбирает все теги h3 класса bbb, являющиеся потомками класса eee */

/* N6 */
.eee p.bbb {
	color: yellowgreen;
}
/* код выбирает все теги p класса bbb, являющиеся потомками класса eee */

/* N7 */
.eee .bbb .kkk {
	color: orange;
}
/* код выбирает все элементы класса kkk, являющиеся потомками элементов класса bbb, которые являются потомками класса eee */