.menu {
	width: 30%;
	margin: 10px auto;
	display: flex;
}

.N1 a {
	box-sizing: border-box;
	border: 1px solid rgb(26, 146, 108);
	background-color: rgb(26, 146, 108);
	color: white;
	font: 14px  Arial;
	margin: 10px;
	padding: 10px 15px;
	text-decoration: none;
}
 .N1 a:hover, .N1 a:active {
	background-color: white;
	color: rgb(26, 146, 108);
 }
.N2 {
	flex-direction: column;
}
.N2 a {
	width: 14em;
	border: 1px solid rgb(26, 146, 108);
	background-color: rgb(26, 146, 108);
	color: white;
	font: 14px  Arial;
	margin: 5px;
	padding: 10px 15px;
	text-decoration: none;
}
 .N2 a:hover, .N2 a:active {
	background-color: white;
	color: rgb(26, 146, 108);
 }

 .N3 a {
	box-sizing: border-box;
	border: 1px solid rgb(26, 146, 108);
	background-color: rgb(26, 146, 108);
	color: white;
	font: 14px  Arial;
	padding: 10px 30px;
	text-decoration: none;
}
.N3 a:hover, .N3 a:active {
	background-color: rgb(18, 99, 73);
 }
