.wrapper {
    width: 800px;
    margin: 0px auto;

}
.article {
    border: 1px solid orange;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: orange;
}
.menu a {
    text-align: center;
    padding: 15px 20px;
    font: bold 14px Arial;
    color: white;
    text-decoration: none;
}
.menu a:active, .menu a:hover {
    background-color: white;
    color:orange;
}

.content h1 {
    font: normal 30px "Times New Roman";
    color: rgb(135, 97, 0);
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
 .content h2 {
    font: normal 26px "Times New Roman";
    color: rgb(135, 97, 0);
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.content p {
    font: normal 17px/35px "Times New Roman";
    color: rgb(219, 131, 0);
    text-indent: 50px;
    text-align: justify;
    margin: 0 10px 20px 10px;
}
.content a {
    color: rgb(219, 131, 0);
    font-weight: bold;
}
.content a:hover, .content a:active {
    color: black;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-bottom: 40px;
}
.footer a {
    text-decoration: none;
    font: bold 13px Arial;
    color:rgb(125, 98, 30);
    margin: 0 15px 0 15px;
}
.footer a:hover, .footer a:active {
    color: black;
    text-decoration: underline;
}