.wrapper {
	width: 700px;
	margin: 50px auto;
	border: 1px solid black;
}

.menu {
	display: flex;
	margin-bottom: 20px;
	background-color: rgb(70, 70, 70);
}

.menu a {
	text-decoration: none;
	color:white;
	font: bold 14px Arial;
	padding: 10px 20px;
}

.menu a:hover, .menu a:active {
	background-color: white;
	color: rgb(70, 70, 70);
}

.article h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.article p {
	padding: 0 10px;
	margin-bottom: 5px;
	text-align: justify;
	font-size: 17px;
}

.article a {
	font-weight: bold;
	color: blue;
	text-decoration: none;
}

.article a:hover, .article a:active {
	color: green;
	text-decoration: underline;
}