p {
       font-size: 30px;
       text-indent: 25px;
}
/* размерное задание интервала. непосредственно интервал равен разнице значений line-height и font-size*/
.line-height {
    line-height: 45px;
}
/* безразмерное задание межстрочного интервала - процент от размера шрифта. 30px*1,5=45px */
.line-height_without1 {
    line-height: 1.5;
}
/*	Записать одной строкой
    font-family: "Times New Roman";
	font-size: 13px;
	line-height: 20px;*/
.font_in_1stroke_1 {
    font: 13px/20px 'Times New Roman'; 
}

/*	Записать одной строкой
    width: 300px;
	font-family: Arial;
	color: red;
	font-size: 40px;
	font-weight: bold;*/
.font_in_1stroke_2 {
    width: 300px;
    color: red;
    font: bold 40px Arial;
} 

/*	Записать одной строкой
    font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	text-indent: 50px;
	font-style: italic;
	line-height: 60px;*/
    .font_in_1stroke_3 {
    font: italic bold 40px/60px Arial;
    text-indent: 50px;
}