
/* N1 */
p.bbb {
	color: plum;
}
/* код выбирает все абзацы класса bbb*/

/* N2 */
p .bbb {
	color: olivedrab;
}
/* код выбирает все элементы класса bbb, которые находятся внутри абзацев*/

/* N3 */
.eee p.bbb {
	color: tomato;
}
/* код выбирает все абзацы класса bbb, являющиеся потомками класса eee */

/* N4 */
.eee p .bbb {
	color: mediumslateblue;
}
/* код выбирает все элементы класса bbb, которые находятся внутри абзацев* являющихся потомками класса eee */

