/* чтобы определить модель элемента (блочный или строчный), можно проверить несколько параметров:
-заданные высота и ширина блочных эелементов не зависят от содержимого, строчные элементы всегда имеют размер своего содержимого;
- новый блочный элемент всегда начинается с новой строки, строчный элемент - пристраивается в ту же строку к соседнему;
- блочные элементы занимают все пространство по ширине, если ширина не задана в свойствах;
- высота блочного элемента формируется содержимым, если она не задана.*/

/*N1, p - блочный элемент*/
p {
	width: 400px;
	height: 200px;
	border: 1px solid black;
}
/*N2, b - строчный элемент*/
b {
	width: 300px;
	height: 200px;
	border: 1px solid violet;
}
/*N3, h2 - блочный элемент*/
h2 {
	width: 300px;
	height: 50px;
	border: 1px solid orange;
}

/*N4, h3 - блочный элемент*/
h3 {
	width: 300px;
	height: 50px;
	border: 1px solid green;
}
/*N5, i - строчный элемент*/
i {
	width: 300px;
	height: 200px;
	border: 1px solid brown;
}
/*N7, a - строчный элемент*/
a {
	width: 300px;
	height: 200px;
	border: 1px solid blue;
}
