h2 {
    font-family: Arial;
}
.georgia {
    font-family: Georgia;
}
.verdana {
    font-family: Verdana;
}
.trebuchet {
    font-family: 'Trebuchet MS';
}
.impact {
    font-family: Impact;
}
.arial_black {
    font-family: 'Arial Black';
}
.comic_sans {
    font-family: 'Comic Sans MS';
}
.courier_new {
    font-family: 'Courier New';
}